:host{
    display: flex;
    height: 100%;
    color: #8563aa;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
}

:host(.active){
     background: #e9e4f1;
}